{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block body %}
<h1>Liste des SchoolYears</h1>
<p>
{{ schoolYear.name }}
</p>

{% for schoolYear in schoolYears %}
<h2>{{ schoolYear.name }} {{ schoolYear.id }}</h2>
<p>
    {{schoolYear.description}}
</p>
{% endfor %}

{% endblock %}